@model EmailViewModel

@{
    ViewData["Title"] = "CreateLoan";
}

<h1>Create Loan</h1>

<head>
    <link rel="stylesheet" href="~/constants/FillFormStyle.css" />
</head>

<partial name="_CreateLoanPartial" , model="new CreateLoanViewModel {EmailDbId=Model.Id}" />

<div style="color: white">
    <form class="form-style-4" method="post" style="float:left">
        <div class="form-group">
            <div class="col">
                <div class="row">№ @Model.Id</div>
                <div class="row">Sender: @Model.Sender</div>
                <p></p>
                <div class="row">Body: @Model.Body</div>
                <p></p>
                <div>
                    <a asp-action="Index" asp-controller="Home" style="color: #a09a9a"><< <u>Back to home page</u> >></a>
                </div>
            </div>
        </div>
    </form>
</div>

