@model CreateLoanViewModel

<head>
    <link rel="stylesheet" href="~/constants/FillFormStyle.css" />
</head>

<form id="createLoan" asp-controller="ClientLoan" asp-action="CreateLoan" method="post"
      class="form-style-4" style="float:right">
    <h4 style="color: white"><b><u>Loan form</u></b></h4>
    <div class="form-group">
        <label asp-for="ClientName" class="control-label"></label>
        <input asp-for="ClientName" class="form-control" />
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientEmail" class="control-label"></label>
        <input asp-for="ClientEmail" class="form-control" />
        <span asp-validation-for="ClientEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientPhoneNumber" class="control-label"></label>
        <input asp-for="ClientPhoneNumber" class="form-control" />
        <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientEGN" class="control-label"></label>
        <input asp-for="ClientEGN" class="form-control" />
        <span asp-validation-for="ClientEGN" class="text-danger"></span>
    </div><div class="form-group">
        <label asp-for="LoanedSum" class="control-label"></label>
        <input asp-for="LoanedSum" class="form-control" />
        <span asp-validation-for="LoanedSum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>