@using Microsoft.AspNetCore.Identity
@using EmailManager.Data.Implementation

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to</h2>
    <h2>"Ode of Emails"</h2>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p></p>
        <p></p>
        <h3>Please, <ins>login</ins> to use the system.</h3>
    }
</div>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <p>@User.Identity.Name, what do you want to do today?</p>

        <form>
            <button asp-controller="Email" asp-action="ListAllStatusEmails" type="submit" class="btn btn-lg btn-outline-info">
                Email catalog
            </button>

            @if (User.IsInRole("Manager"))
            {
                <button asp-controller="User" asp-action="Index" type="submit" class="btn btn-lg btn-outline-info">
                    User catalog
                </button>
            }
        </form>
    }
</div>